<!-- Contacts section -->

<section class="contacts-section">
    <!-- card no 1 -->
    <div class="menu-section">
        <span class="crawler-cafe">
            <svg>
                <use href="/src/images/icons.svg#icon-cafe"></use>
            </svg>
        </span>
        <span class="city-locations">Chicago</span>
        <p class="details">Handcrafted coffee, baked goods, and premium ice cream.</p>
        <span class="vector-icon">
            <svg>
                <use href="/src/images/icons.svg#icon-line"></use>
            </svg>
        </span>
        <h4 class="weekdays">Monday - Friday</h4>
        <p class="work-program">06:00 AM - 10:00 PM</p>
        <h4 class="weekdays">Saturday - Sunday</h4>
        <p class="work-program">08:00 AM - 16:00 PM</p>
        <a class="vector-icon" href="" aria-label="email">
            <svg>
                <use href="/src/images/icons.svg#icon-line"></use>
            </svg>
        </a>
        <a class="color-fonts" href="tel:+61(0) 383 766 284" aria-label="phone">
            +61(0) 383 766 284
        </a>
        <a class="color-fonts" href="email:noreply@envato.com" aria-label="email">
            noreply@envato.com
        </a>
    </div>
    <!-- card no 2 -->
    <div class="menu-section">
        <span class="crawler-cafe">
            <svg>
                <use href="/src/images/icons.svg#icon-foodtruck"></use>
            </svg>
        </span>
        <span class="city-locations">Los Angeles</span>
        <p class="details">Fusion cuisine and refreshing ice cream made with passion.</p>
        <span class="vector-icon">
            <svg>
                <use href="/src/images/icons.svg#icon-line"></use>
            </svg>
        </span>
        <h4 class="weekdays">Monday - Friday</h4>
        <p class="work-program">06:00 AM - 10:00 PM</p>
        <h4 class="weekdays">Saturday - Sunday</h4>
        <p class="work-program">08:00 AM - 16:00 PM</p>
        <span class="vector-icon">
            <svg>
                <use href="/src/images/icons.svg#icon-line"></use>
            </svg>
        </span>
        <a class="phone-link color-fonts" href="tel:+61(0) 383 766 284" aria-label="phone">
            +61(0) 383 766 284
        </a>
        <a class="email-link color-fonts" href="email:noreply@envato.com" aria-label="email">
            noreply@envato.com
        </a>
    </div>
    <!-- card no 3 -->
    <div class="menu-section">
        <span class="crawler-cafe">
            <svg>
                <use href="/src/images/icons.svg#icon-cafe"></use>
            </svg>
        </span>
        <span class="city-locations">New York</span>
        <p class="details">Specialty teas, artisanal pastries, mouth-watering ice cream.</p>
        <span class="vector-icon">
            <svg>
                <use href="/src/images/icons.svg#icon-line"></use>
            </svg>
        </span>
        <h4 class="weekdays">Monday - Friday</h4>
        <p class="work-program">06:00 AM - 10:00 PM</p>
        <h4 class="weekdays">Saturday - Sunday</h4>
        <p class="work-program">08:00 AM - 16:00 PM</p>
        <span class="vector-icon">
            <svg>
                <use href="/src/images/icons.svg#icon-line"></use>
            </svg>
        </span>
        <a class="phone-link color-fonts" href="tel:+61(0) 383 766 284" aria-label="phone">
            +61(0) 383 766 284
        </a>
        <a class="email-link color-fonts" href="email:noreply@envato.com" aria-label="email">
            noreply@envato.com
        </a>
    </div>

    <button type="submit" class="submit-btn-top">
        <span class="submit-btn-conten-top"
          >Our Locations
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="7"
            height="10"
            viewBox="0 0 7 10"
            fill="none"
          >
            <path
              d="M1.03772 1L5.71697 5L1.03772 9"
              stroke="#D41443"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </button>
    <button type="submit" class="submit-btn">
        <span class="submit-btn-content"
          >Franchise
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="7"
            height="10"
            viewBox="0 0 7 10"
            fill="none"
          >
            <path
              d="M1.03772 1L5.71697 5L1.03772 9"
              stroke="#D41443"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </button>

</section>
