:root{
    --section-background-color: #FFF5F6;
 /* Brand color : #D41443
    Ice cream color: #FFB8CA;
    Coffe color : #F0D1A5
    food color : #C2E297
    General white: #FFF
    adad22 — Today at 4:42 AM
    General pink: #FFA5BA
    general font black: #000 
    General font grey: #907E82
    adad22 — Today at 6:25 AM
    Adaugativa doar variabilele de care aveti nevoie pentru sectiunea voastra. Asa vom evita conflictele.
    adad22 — Today at 6:46 AM
    --general-font: 'DM Sans', sans-serif;
    --heading-font: 'Titan One', cursive; */
}

.contacts-section {
    background:var(--section-background-color);
}

