<!-- Contacts section -->

<section class="contacts-section" id="contacts">
  <div class="cards-section">
    <!-- card no 1 -->
    <div class="menu-section">
      <div class="image-block">
        <span class="crawler-cafe"> CAFE </span>
      </div>
      <span class="city-locations">Chicago</span>
      <p class="details">
        Handcrafted coffee, baked goods, and premium ice cream.
      </p>
      <hr class="sprite-section" />
      <h4 class="weekdays">Monday - Friday</h4>
      <p class="work-program">06:00 AM - 10:00 PM</p>
      <h4 class="weekdays weekends">Saturday - Sunday</h4>
      <p class="work-program">08:00 AM - 16:00 PM</p>
      <hr class="sprite-section" />
      <div class="contacts">
        <a class="color-fonts" href="tel:+61(0)383766284" aria-label="phone">
          +61(0) 383 766 284
        </a>
        <a class="color-fonts" href="email:noreply@envato.com" aria-label="email">
          noreply@envato.com
        </a>
      </div>
    </div>
    <!-- card no 2 -->
    <div class="menu-section">
      <div class="image-block-foodtruck">
        <span class="crawler-foodtruck"> FOODTRUCK </span>
      </div>
      <span class="city-locations">Los Angeles</span>
      <p class="details">
        Fusion cuisine and refreshing ice cream made with passion.
      </p>
      <hr class="sprite-section" />
      <h4 class="weekdays">Monday - Friday</h4>
      <p class="work-program">06:00 AM - 10:00 PM</p>
      <h4 class="weekdays">Saturday - Sunday</h4>
      <p class="work-program">08:00 AM - 16:00 PM</p>
      <hr class="sprite-section" />
      <div class="contacts">
        <a class="color-fonts" href="tel:+61(0)383766284" aria-label="phone">
          +61(0) 383 766 284
        </a>
        <a class="color-fonts" href="email:noreply@envato.com" aria-label="email">
          noreply@envato.com
        </a>
      </div>
    </div>
    <!-- card no 3 -->
    <div class="menu-section">
      <div class="image-block">
        <div class="image-block">
          <span class="crawler-cafe"> CAFE </span>
        </div>
      </div>
      <span class="city-locations">New York</span>
      <p class="details">
        Specialty teas, artisanal pastries, mouth-watering ice cream.
      </p>
      <hr class="sprite-section" />
      <h4 class="weekdays">Monday - Friday</h4>
      <p class="work-program">06:00 AM - 10:00 PM</p>
      <h4 class="weekdays">Saturday - Sunday</h4>
      <p class="work-program">08:00 AM - 16:00 PM</p>
      <hr class="sprite-section" />
      <div class="contacts">
        <a class="color-fonts" href="tel:+61(0)383766284" aria-label="phone">
          +61(0) 383 766 284
        </a>
        <a class="color-fonts" href="email:noreply@envato.com" aria-label="email">
          noreply@envato.com
        </a>
      </div>
    </div>
  </div>

  <div class="button-section">
    <button type="submit" class="submit-btn-top" data-modal-open-location>
      <span class="submit-btn-content-top">
        Our Locations
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
          <path d="M0.999969 1L4.61032 5L0.999969 9" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </span>
    </button>
    <button type="submit" class="submit-btn" data-modal-open-franchise>
      <span class="submit-btn-content">
        Franchise
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
          <path d="M1.03772 1L5.71697 5L1.03772 9" stroke="#D41443" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </span>
    </button>
  </div>
</section>

<!-- Modal Section  -->

<!-- modal no 1 -->
<div class="modal-section is-hidden-location" data-modal-location>
  <div class="modal-content-location">
    <div class="close-btn-map close-container" data-modal-close-location>
    </div>
    <div class="content-section-map">
      <h2>
        <span class="color-map-title">
          We will be glad to see you
        </span>
      </h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22255.75311031521!2d24.1510584!3d45.791846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474c67d299363fcf%3A0x96c694787e244a37!2sPromenada%20Mall!5e0!3m2!1sro!2sro!4v1692566065054!5m2!1sro!2sro"
        width="250" height="200" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      <span class="locations-shop">Strada Lector, Sibiu 557260, Romania </span>
      <button type="submit" class="submit-btn">
        <span class="submit-btn-content">
          Open in Google Maps
          <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
            <path d="M1.03772 1L5.71697 5L1.03772 9" stroke="#D41443" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</div>

<!-- modal no 2 franchise -->
<div class="modal is-hidden-franchise" data-modal-franchise>
  <div class="modal-content-map">
    <div class="close-container close-btn-map" data-modal-close-franchise>
    </div>
    <form action="form-input" autocomplete="on" novalidate>
      <div class="color-map-title">
        <h3>Leave your information and we'll call you back</h3>
        <label class="form-group">
          <span class="label-text">Name </span>
          <input type="text" name="name" class="icon-input" required />
        </label>
        <label class="form-group">
          <span class="label-text">Telephone</span>
          <input type="number" name="telephone" class="icon-input" required />
        </label>

        <label class="form-group">
          <span class="label-text">Email</span>
          <input type="text" name="email" class="icon-input" required />
        </label>

        <label class="form-group">
          <span class="label-text">Comments</span>
          <textarea name="message" rows="5" placeholder="Enter the text" class="icon-input input-text"></textarea>
        </label>
        <div class="form-acces">
          <label class="form-group">
            <input type="checkbox" name="agree" value="" class="checkbox-size" required />
            <span class="checkbox-paragraph">
              I agree with the letter and accept the
              <a href="https://www.iubenda.com/en/help/2859-terms-and-conditions-when-are-they-needed"><span
                  class="terms-agree">Terms and Conditions</span></a>
            </span>
          </label>
          <button type="submit" class="button-blue">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>




<!-- the end -->