<!-- Contacts section -->

<section class="contacts-section" id="contacts">
  <h2 hidden>Contacts</h2>
  <div class="cards-section">
    <!-- card no 1 -->
    <div class="menu-section">
      <div class="image-block">
        <span class="crawler-cafe">CAFE</span>
      </div>
      <span class="city-locations">Chicago</span>
      <p class="details">
        Handcrafted coffee, baked goods, and premium ice cream.
      </p>
      <hr class="sprite-section" />
      <h4 class="weekdays">Monday - Friday</h4>
      <p class="work-program">06:00 AM - 10:00 PM</p>
      <h4 class="weekdays weekends">Saturday - Sunday</h4>
      <p class="work-program">08:00 AM - 16:00 PM</p>
      <hr class="sprite-section" />
      <div class="contact-info">
        <a class="color-fonts" href="tel:+61(0)383766284" aria-label="phone">
          +61(0) 383 766 284
        </a>
        <a class="color-fonts" href="email:noreply@envato.com" aria-label="email">
          noreply@envato.com
        </a>
      </div>
    </div>
    <!-- card no 2 -->
    <div class="menu-section">
      <div class="image-block-foodtruck">
        <span class="crawler-foodtruck">FOODTRUCK</span>
      </div>
      <span class="city-locations">Los Angeles</span>
      <p class="details">
        Fusion cuisine and refreshing ice cream made with passion.
      </p>
      <hr class="sprite-section" />
      <h4 class="weekdays">Monday - Friday</h4>
      <p class="work-program">06:00 AM - 10:00 PM</p>
      <h4 class="weekdays">Saturday - Sunday</h4>
      <p class="work-program">08:00 AM - 16:00 PM</p>
      <hr class="sprite-section" />
      <div class="contact-info">
        <a class="color-fonts" href="tel:+61(0)383766284" aria-label="phone">
          +61(0) 383 766 284
        </a>
        <a class="color-fonts" href="email:noreply@envato.com" aria-label="email">
          noreply@envato.com
        </a>
      </div>
    </div>
    <!-- card no 3 -->
    <div class="menu-section">
      <div class="image-block">
        <span class="crawler-cafe">CAFE</span>
      </div>
      <span class="city-locations">New York</span>
      <p class="details">
        Specialty teas, artisanal pastries, mouth-watering ice cream.
      </p>
      <hr class="sprite-section" />
      <h4 class="weekdays">Monday - Friday</h4>
      <p class="work-program">06:00 AM - 10:00 PM</p>
      <h4 class="weekdays">Saturday - Sunday</h4>
      <p class="work-program">08:00 AM - 16:00 PM</p>
      <hr class="sprite-section" />
      <div class="contact-info">
        <a class="color-fonts" href="tel:+61(0)383766284" aria-label="phone">
          +61(0) 383 766 284
        </a>
        <a class="color-fonts" href="email:noreply@envato.com" aria-label="email">
          noreply@envato.com
        </a>
      </div>
    </div>
  </div>

  <div class="button-section">
    <button type="submit" class="submit-btn-top" data-modal-open-location>
      <span class="submit-btn-content-top">
        Our Locations
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
          <path d="M0.999969 1L4.61032 5L0.999969 9" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </span>
    </button>
    <button type="submit" class="submit-btn" data-modal-open-franchise>
      <span class="submit-btn-content">
        Franchise
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
          <path d="M1.03772 1L5.71697 5L1.03772 9" stroke="#D41443" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </span>
    </button>
  </div>
</section>

<!-- Modal Section  -->

<!-- modal no 1 location-->
<div class="modal-section is-hidden-location" data-modal-location>
  <div class="modal-content-location">
    <div class="close-btn-location" data-modal-close-location>
      <svg class="close-btn-x" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16"
        fill="none">
        <path
          d="M15 4.10786L13.8921 3L9.5 7.39214L5.10786 3L4 4.10786L8.39214 8.5L4 12.8921L5.10786 14L9.5 9.60786L13.8921 14L15 12.8921L10.6079 8.5L15 4.10786Z"
          fill="currentcolor" />
      </svg>
    </div>
    <div class="content-section-map">
      <h2 class="color-map-title">
        We will be glad to see you
      </h2>
      <iframe class="map-section"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22255.75311031521!2d24.1510584!3d45.791846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474c67d299363fcf%3A0x96c694787e244a37!2sPromenada%20Mall!5e0!3m2!1sro!2sro!4v1692566065054!5m2!1sro!2sro"
        style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      <span class="locations-shop">Strada Lector, Sibiu 557260, Romania </span>
      <div class="submit-btn-google">
        <a
          href="https://www.google.com/maps/place/Promenada+Mall/@45.796968,24.163121,12z/data=!4m6!3m5!1s0x474c67d299363fcf:0x96c694787e244a37!8m2!3d45.7969677!4d24.1631211!16s%2Fg%2F11fnvd5027?hl=ro&entry=ttu">
          Open in Google Maps
        </a>
      </div>
    </div>
  </div>
</div>

<!-- modal no 2 franchise -->
<div class="modal-franchise is-hidden-franchise" data-modal-franchise>
  <div class="modal-content-map">
    <button class="close-btn-franchise" data-modal-close-franchise>
      <svg class="close-franchise" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16"
        fill="none">
        <path
          d="M15 4.10786L13.8921 3L9.5 7.39214L5.10786 3L4 4.10786L8.39214 8.5L4 12.8921L5.10786 14L9.5 9.60786L13.8921 14L15 12.8921L10.6079 8.5L15 4.10786Z"
          fill="currentcolor" />
      </svg>
    </button>
    <div class="color-map-franchise">
      <h2>Leave your information and we'll call you back</h2>
      <form class="form-franchise" action="form-input" autocomplete="on" novalidate>
        <label class="form-group">
          <input type="text" name="name" class="icon-input" placeholder="Name" required />
        </label>
        <label class="form-group">
          <input type="number" name="telephone" class="icon-input" placeholder="Telephone" required />
        </label>

        <label class="form-group">
          <input type="text" name="email" class="icon-input" placeholder="Email" required />
        </label>

        <label class="form-group">
          <textarea name="message" rows="5" placeholder="Comments" class="icon-input input-text"></textarea>
        </label>
        <div class="form-acces">
          <label class="form-group">
            <input type="checkbox" name="agree" value="" class="checkbox-size" required />
            <span class="check-section">
              <img class="checkbox-unchecked-contacts" src="./images/checkbox-unchecked.png" alt="" />
              <img class="checkbox-checked-contacts" src="./images/checkbox-checked.png" alt="" />
            </span>
            <span class="checkbox-paragraph">
              I agree with the letter and accept the
              <a href="https://www.iubenda.com/en/help/2859-terms-and-conditions-when-are-they-needed">
                <span class="terms-agree">Terms and Conditions</span>
              </a>
            </span>
          </label>
          <button type="submit" class="button-blue">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- the end -->