<section class="slideshow-container" id="reviews">
  <div class="mySlides fade">
    <div class="img-person-title">
      <img class="img-person" src="./images/photo-review-1.svg" />
    </div>
    <!-- <div class="text">Caption Text</div> -->
    <div class="comment">
      <div class="icon-quote">
        <img src="./images/“.svg" alt="" />
      </div>
      <span class="comment-review">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
        <div class="horizontal-line2">
          <use>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 821 2"
              fill="none"
            >
              <path d="M0 1L821 1.00007" stroke="#E1E1E1" />
            </svg>
          </use>
        </div>
        <div class="horizontal-line1">
          <use>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 821 2"
              fill="none"
            >
              <path d="M0 1L821 1.00007" stroke="#E1E1E1" />
            </svg>
          </use>
        </div>
      </span>
    </div>
    <div class="name">
      <div class="three-red-dots">
        <use>
          <img src="./images/Group-three-red-dots.svg" alt="" />
        </use>
      </div>
      <p class="name-location">Emily, Los Angeles</p>
    </div>
  </div>

  <div class="mySlides fade">
    <div class="img-person-title">
      <img class="img-person" src="./images/photo-review-2.svg" />
    </div>
    <!-- <div class="text">Caption Text</div> -->
    <div class="comment">
      <div class="icon-quote">
        <img src="./images/“.svg" alt="" />
      </div>
      <span class="comment-review">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
        <div class="horizontal-line2">
          <use>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 821 2"
              fill="none"
            >
              <path d="M0 1L821 1.00007" stroke="#E1E1E1" />
            </svg>
          </use>
        </div>
        <div class="horizontal-line1">
          <use>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 821 2"
              fill="none"
            >
              <path d="M0 1L821 1.00007" stroke="#E1E1E1" />
            </svg>
          </use>
        </div>
      </span>
    </div>
    <div class="name">
      <div class="three-red-dots">
        <use>
          <img src="./images/Group-three-red-dots.svg" alt="" />
        </use>
      </div>
      <p class="name-location">Emily, Los Angeles</p>
    </div>
  </div>

  <div class="mySlides fade">
    <div class="img-person-title">
      <img class="img-person" src="./images/photo-review-3.svg" />
    </div>
    <!-- <div class="text">Caption Three</div> -->
    <div class="comment">
      <div class="icon-quote">
        <img src="./images/“.svg" alt="" />
      </div>
      <span class="comment-review">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
        <div class="horizontal-line2">
          <use>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 821 2"
              fill="none"
            >
              <path d="M0 1L821 1.00007" stroke="#E1E1E1" />
            </svg>
          </use>
        </div>
        <div class="horizontal-line1">
          <use>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 821 2"
              fill="none"
            >
              <path d="M0 1L821 1.00007" stroke="#E1E1E1" />
            </svg>
          </use>
        </div>
      </span>
    </div>
    <div class="name">
      <div class="three-red-dots">
        <use>
          <img src="./images/Group-three-red-dots.svg" alt="" />
        </use>
      </div>
      <p class="name-location">Emily, Los Angeles</p>
    </div>
  </div>
  <div class="three-dots" style="text-align: center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</section>

<script>
  let slideIndex = 0;
  showSlides();

  function showSlides() {
    let i;
    let slides = document.getElementsByClassName('mySlides');
    let dots = document.getElementsByClassName('dot');
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(' active', '');
    }
    slides[slideIndex - 1].style.display = 'block';
    dots[slideIndex - 1].className += ' active';
    setTimeout(showSlides, 2000); // Change image every 2 seconds
  }
</script>
