<section class="slideshow-container" id="reviews">
  <h3 class="hidden">Customer reviews</h3>
  <div class="mySlides fade">
    <div class="img-person-title">
      <img
        class="img-person"
        src="./images/photo-review-1.svg"
        alt="person#1"
      />
    </div>
    <div class="comment">
      <!-- mobile version -->
      <div class="comment-review">
        <div class="comment-lines">
          <span class="new-icon">&#10078; </span>
          <span class="comment-line1"> I love visiting your cafe.</span>
          <span class="comment-line2">You prepare the most</span>
          <span class="comment-line3">delicious ice cream in</span>
          <span class="comment-line4">Los Angeles! In addition,</span>
          <span class="comment-line5">you have beautiful</span>
          <span class="comment-line6">serving, cozy atmosphere</span>
          <span class="comment-line7">and polite staff.</span>
        </div>
        <!-- tablet version -->
        <div class="tablet-version">
          <span class="tablet-version-line1">
            I love visiting your cafe. You prepare the most delicious ice cream
            in</span
          >
          <span class="tablet-version-line2"
            >Los Angeles! In addition, you have beautiful serving, cozy</span
          >
          <span class="tablet-version-line3">atmosphere and polite staff.</span>
        </div>
        <span class="new-icon-tablet tablet-icon">&#10078; </span>
        <!-- desktop version -->
        <div class="desktop-version">
          <span class="new-icon-desktop desktop-icon">&#10078; </span>
          <span class="desktop-version-line1">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In</span
          >
          <span class="desktop-version-line2"
            >addition, you have beautiful serving, cozy atmosphere and polite
            staff.
          </span>
        </div>
      </div>
    </div>
    <div class="name">
      <div class="three-red-dots">
        <use>
          <img src="./images/Group-three-red-dots.svg" alt="three red dots" />
        </use>
      </div>
      <p class="name-location">Kaitlyn, Fiji</p>
    </div>
  </div>

  <div class="mySlides fade">
    <div class="img-person-title">
      <img
        class="img-person"
        src="./images/photo-review-2.svg"
        alt="person#2"
      />
    </div>
    <div class="comment">
      <!-- mobile version -->
      <div class="comment-review">
        <div class="comment-lines">
          <span class="new-icon">&#10078; </span>
          <span class="comment-line1">When it comes to taste,</span>
          <span class="comment-line2">smell and flavor then</span>
          <span class="comment-line3">this is the best </span>
          <span class="comment-line4">after vanilla.this is even</span>
          <span class="comment-line5">the most widely liked </span>
          <span class="comment-line6">ice cream all</span>
          <span class="comment-line7">over the world.</span>
        </div>
        <!-- tablet version -->
        <div class="tablet-version">
          <span class="tablet-version-line1">
            When it comes to taste, smell and flavor then this is the best</span
          >
          <span class="tablet-version-line2"
            >after vanilla.this is even the most widely liked
          </span>
          <span class="tablet-version-line3"
            >ice cream all over the world.
          </span>
        </div>
        <span class="new-icon-tablet tablet-icon">&#10078; </span>
        <!-- desktop version -->
        <div class="desktop-version">
          <span class="new-icon-desktop desktop-icon">&#10078; </span>
          <span class="desktop-version-line1"
            >When it comes to taste, smell and flavor then this is the best
            after vanilla.</span
          >
          <span class="desktop-version-line2"
            >this is even the most widely liked ice cream all over the
            world.</span
          >
        </div>
      </div>
    </div>
    <div class="name">
      <div class="three-red-dots">
        <use>
          <img src="./images/Group-three-red-dots.svg" alt="three red dots" />
        </use>
      </div>
      <p class="name-location">Emily, Los Angeles</p>
    </div>
  </div>

  <div class="mySlides fade">
    <div class="img-person-title">
      <img
        class="img-person"
        src="./images/photo-review-3.svg"
        alt="person#3"
      />
    </div>
    <div class="comment">
      <!-- mobile version -->
      <div class="comment-review">
        <div class="comment-lines">
          <span class="new-icon">&#10078; </span>
          <span class="comment-line1">The taste tingles</span>
          <span class="comment-line2">and I am left in </span>
          <span class="comment-line3">the clouds myself melting</span>
          <span class="comment-line4">into a heavenly place</span>
          <span class="comment-line5">when the cream melts in </span>
          <span class="comment-line6">my mouth the taste is</span>
          <span class="comment-line7">just lovely.</span>
        </div>
        <!-- tablet version -->
        <div class="tablet-version">
          <span class="tablet-version-line1"
            >The taste tingles and I am left in the clouds myself melting
          </span>
          <span class="tablet-version-line2"
            >into a heavenly place when the cream melts in
          </span>
          <span class="tablet-version-line3"
            >my mouth the taste is just lovely.
          </span>
        </div>
        <span class="new-icon-tablet tablet-icon">&#10078; </span>
        <!-- desktop version -->
        <div class="desktop-version">
          <span class="new-icon-desktop desktop-icon">&#10078; </span>
          <span class="desktop-version-line1"
            >The taste tingles and I am left in the clouds myself melting into a
            heavenly
          </span>
          <span class="desktop-version-line2"
            >place when the cream melts in my mouth the taste is just
            lovely.</span
          >
        </div>
      </div>
    </div>
    <div class="name">
      <div class="three-red-dots">
        <use>
          <img src="./images/Group-three-red-dots.svg" alt="three red dots" />
        </use>
      </div>
      <p class="name-location">Sharon, Reunion</p>
    </div>
  </div>
  <div class="three-dots" style="text-align: center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</section>

<script>
  let slideIndex = 0;
  showSlides();

  function showSlides() {
    let i;
    let slides = document.getElementsByClassName('mySlides');
    let dots = document.getElementsByClassName('dot');
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(' active', '');
    }
    slides[slideIndex - 1].style.display = 'block';
    dots[slideIndex - 1].className += ' active';
    setTimeout(showSlides, 2000); // Change image every 2 seconds
  }
</script>
