<footer class="footer-content">
  <div class="footer-section">
    <div class="footer-title">
      <div class="first-title">
        <span class="footer-title-ice-cream">homemade ice cream</span>
        <span class="footer-title-made">made</span>
      </div>
      <div class="second-title">
        <div class="footer-title-word">
          <span class="footer-title-letter">w</span
          ><span class="footer-title-letter">i</span
          ><span class="footer-title-letter">t</span
          ><span class="footer-title-letter footer-title-letter-space">h</span>
        </div>

        <div class="footer-title-word">
          <span class="footer-title-letter">p</span
          ><span class="footer-title-letter">a</span
          ><span class="footer-title-letter">s</span
          ><span class="footer-title-letter">s</span
          ><span class="footer-title-letter">i</span
          ><span class="footer-title-letter">o</span
          ><span class="footer-title-letter">n</span>
        </div>
      </div>
    </div>
    <div class="footer-contacts-section">
      <div class="footer-icons">
        <a href="https://www.github.com/" target="_blank">
          <svg class="footer-icon-github">
            <use href="./images/icons/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <a href="https://web.telegram.org/a/" target="_blank">
          <svg class="footer-icon-telegram">
            <use href="./images/icons/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <svg class="footer-icon-facebook">
            <use href="./images/icons/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </div>
      <div class="footer-contact">
        <a class="footer-phone-number" href="tel:+61(0)383766284">
          <span class="text-phone">Feel free to contact </span
          ><span class="contact-footer-phone">+61 (0) 383 766 284</span>
        </a>
      </div>
    </div>
    <hr />
    <div class="copyright">
      <div class="copyright-box">
        <p class="copyright-box-text">
          &copy; 2022 - IceCream. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
