<footer class="footer-content">
  <div class="footer-section">
    <div class="footer-title">
      <span class="first-title">homemade ice cream made</span>
      <span class="second-title">with passion</span>
    </div>
    <div class="footer-contacts-section">
      <div class="footer-icons">
        <a href="https://www.github.com/" target="_blank">
          <svg class="footer-icon-github">
            <use href="./images/icons/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
        <a href="https://www.telegram.com/" target="_blank">
          <svg class="footer-icon-telegram">
            <use href="./images/icons/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <svg class="footer-icon-facebook">
            <use href="./images/icons/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </div>
      <div class="footer-contact">
        <a class="footer-phone-number" href="tel:+61 (0) 383 766 284">
          <span class="text-phone">Feel free to contact </span>+61 (0) 383 766
          284
        </a>
      </div>
    </div>
    <hr />
    <div class="rights-reserved">
      <span>&copy; 2022 - IceCream.</span> <span>All Rights Reserved.</span>
    </div>
  </div>
</footer>
