<body>
  <section class="gallery" id="gallery">
    <h2 hidden>Gallery</h2>
    <div class="container-center gallery">
      <div class="gallery-row">
        <div class="gallery-column-one gallery-column">
          <img
            srcset="
              ./images/gallery/mobile/pic5.png    1x,
              ./images/gallery/mobile/pic5@2x.png 2x
            "
            src="./images/gallery/mobile/pic5.png"
            class="gallery-image-one gallery-image"
            alt="ice cream in dishes"
            width="43.593"
            height="43.861"
          />
        </div>
        <div class="gallery-column-two gallery-column">
          <img
            srcset="
              ./images/gallery/mobile/pic4.png    1x,
              ./images/gallery/mobile/pic4@2x.png 2x
            "
            src="./images/gallery/mobile/pic4.png"
            class="gallery-image-two gallery-image"
            alt="ice cream in hand"
            width="43.593"
            height="43.861"
          />
          <img
            srcset="
              ./images/gallery/mobile/pic6.png    1x,
              ./images/gallery/mobile/pic6@2x.png 2x
            "
            src="./images/gallery/mobile/pic6.png"
            class="gallery-image-three gallery-image"
            alt="ice cream on stick"
            width="43.593"
            height="43.861"
          />
        </div>
        <div class="gallery-column-three gallery-column">
          <img
            srcset="
              ./images/gallery/mobile/pic1.png    1x,
              ./images/gallery/mobile/pic1@2x.png 2x
            "
            src="./images/gallery/mobile/pic1.png"
            class="gallery-image-four gallery-image"
            alt="eight ice cream"
            width="89.398"
            height="89.615"
          />
          <img
            srcset="
              ./images/gallery/mobile/pic7.png    1x,
              ./images/gallery/mobile/pic7@2x.png 2x
            "
            src="./images/gallery/mobile/pic7.png"
            class="gallery-image-five gallery-image"
            alt="a girl with ice cream"
            width="43.593"
            height="43.861"
          />
        </div>
        <div class="gallery-column-four gallery-column">
          <img
            srcset="
              ./images/gallery/mobile/pic9.png    1x,
              ./images/gallery/mobile/pic9@2x.png 2x
            "
            src="./images/gallery/mobile/pic9.png"
            class="gallery-image-six gallery-image"
            alt="ice cream in bowl"
            width="43.593"
            height="43.861"
          />
          <img
            srcset="
              ./images/gallery/mobile/pic8.png    1x,
              ./images/gallery/mobile/pic8@2x.png 2x
            "
            src="./images/gallery/mobile/pic8.png"
            class="gallery-image-seven gallery-image"
            alt="ice cream in hand"
            width="43.593"
            height="43.861"
          />
        </div>
        <div class="gallery-column-five gallery-column">
          <img
            srcset="
              ./images/gallery/mobile/pic10.png    1x,
              ./images/gallery/mobile/pic10@2x.png 2x
            "
            src="./images/gallery/mobile/pic10.png"
            class="gallery-image-eight gallery-image"
            alt="a dog eat ice cream"
            width="43.593"
            height="43.861"
          />
          <img
            srcset="
              ./images/gallery/mobile/pic12.png    1x,
              ./images/gallery/mobile/pic12@2x.png 2x
            "
            src="./images/gallery/mobile/pic12.png"
            class="gallery-image-nine gallery-image"
            alt="chocolate milkshake"
            width="43.593"
            height="43.861"
          />
        </div>
        <div class="gallery-column-six gallery-column">
          <img
            srcset="
              ./images/gallery/mobile/pic11.png    1x,
              ./images/gallery/mobile/pic11@2x.png 2x
            "
            src="./images/gallery/mobile/pic11.png"
            class="gallery-image-ten gallery-image"
            alt="ice cream in a jar"
            width="43.593"
            height="43.861"
          />
        </div>
      </div>
    </div>
  </section>
</body>
