<header id="header">
  <div class="js-menu-container">
    <button class="menu-toggle js-close-menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentcolor">
        <path d="M1.25925 1L14.7407 15" stroke="currentcolor"/>
        <path d="M1 14.7407L15 1.25924" stroke="currentcolor"/>
        </svg>
    </button>
    <div class="menu-drawer-navigation">
      <button type="submit" class="submit-btn">
        <span class="submit-btn-content"
          >Buy now
          <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" viewBox="0 0 7 10" fill="none">
            <path d="M1.03772 1L5.71697 5L1.03772 9" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
      </button>
      <ul class="menu-drawer">
        <li><a href="index.html" class="link">Home</a></li>
        <li><a href="index.html" class="link">About us</a></li>
        <li><a href="index.html" class="link">How it’s made?</a></li>
        <li><a href="index.html" class="link">Our products</a></li>
        <li class="last-link"><a href="index.html" class="link">Contact</a></li>
      </ul>

      </div>
    </div>
  </div>
  <div class="header-container">
    <div class="header-container-nav">
      <!-- logo -->
      <div>
        <a href="index.html" class="logo">
          <img src="/src/images/logo-icecream.svg" alt="logo" width="200"
        /></a>
      </div>
      <!-- burger menu -->
      <button
        class="menu-button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="14"
          viewBox="0 0 20 14"
          fill="none"
        >
          <path d="M0 1H20" stroke="#D41443" />
          <path d="M0 7H20" stroke="#D41443" />
          <path d="M0 13H20" stroke="#D41443" />
        </svg>
      </button>
    </div>
    <picture class="hero-image">
      <!-- Desktop -->
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/ice-cream-header-d.png,
          ./images/ice-cream-header-d2x.png
        "
      />
      <!-- Tablet -->
      <source
        media="(min-width:768px)"
        srcset="
          ./images/ice-cream-header-t.png,
          ./images/ice-cream-header-t2x.png
        "
      />
      <!-- Mobile -->
      <source
        media="(min-width:480px)"
        srcset="
          ./images/ice-cream-header-m.png,
          ./images/ice-cream-header-m2x.png
        "
      />
      <img src="./images/ice-cream-header-d.png" alt="Icecream cone" />
    </picture>
    <div class="elipse"></div>
    <div class="header-title">
      <h1>
        ice cream <br />
        made with <br /><span class="passion">passion</span>
      </h1>
    </div>
  </div>
  <script src="./js/mobile-menu.js"></script>
</header>