<section class="products-section-products" id="products">
    <div class="products-div-products">
      <div class="titles-products">
        <p class="product-title">100% natural</p>
        <h2 class="products-title">PRODUCTS</h2>
      </div>
      <div class="products-shown">
        <div class="rectangle-product">
          <div><img class="strawberry-product" src="/src/images/strawberry.png" alt=""></div>
          <h3 class="strawberry-title-product">ICE CREAM</h3>
          <svg class="dots-product"><use href="/src/images/symbols/symbol-defs.svg#icon-dots-dots"></use></svg>
          <p class="paragraph-strawberry-product">Indulge in our rich and creamy ice cream, handcrafted with all-natural ingredients and available in a variety of flavors.</p>
          <img class="arrow-right-product" src="/src/images/arrow-right.png" alt="">
        </div>
        <div class="rectangle-2-product">
          <div><img class="coffee-product" src="/src/images/coffee.png" alt=""></div>
          <h3 class="coffee-title-product">ICE COFFEE</h3>
          <svg class="dots-product"><use href="/src/images/symbols/symbol-defs.svg#icon-dots-dots"></use></svg>
          <p class="paragraph-coffee-product">Refresh and energize with our perfectly brewed iced coffee, made with high-quality beans and served over ice.</p>
          <img class="arrow-right-product" src="/src/images/arrow-right.png" alt="">
        </div>
        <div class="rectangle-3-product">
          <div><img class="milkshake-product" src="/src/images/milkshake.png" alt=""></div>
          <h3 class="milkshake-title-product">MILKSHAKES</h3>
          <svg class="dots-product"><use href="/src/images/symbols/symbol-defs.svg#icon-dots-dots"></use></svg>
          <p class="paragraph-milkshake-product">Satisfy your sweet tooth with our thick, made with premium ice cream, topped with whipped cream and your favorite toppings.</p>
          <img class="arrow-right-product" src="/src/images/arrow-right.png" alt="">
        </div>
      </div>
    </div>
</section>

