<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/_common.css" />
    <link rel="stylesheet" href="../CSS/products.css" />
  </head>
  <body class="body">
    <div class="products-div">
      <h2 class="product-title">100% natural</h2>
      <h1 class="products-title">products</h1>
      <div class="products-shown">
        <div class="rectangle">
          <img class="strawberry" src="/src/images/strawberry.png" alt="">
          <h3 class="strawberry-title">ICE CREAM</h3>
          <svg class="dots"><use href="/src/images/symbols/symbol-defs.svg#icon-dots-dots"></use></svg>
          <p class="paragraph-strawberry">Indulge in our rich and creamy ice cream, handcrafted with all-natural ingredients and available in a variety of flavors.</p>
          <img class="arrow-right" src="/src/images/arrow-right.png" alt="">
        </div>
      </div>
    </div>
  </body>
</html>
