:root{
    --section-background-color: #FFF5F6;
    --general-font: 'DM Sans', sans-serif;
    --general-font-grey: #907E82;
    --general-pink: #FFA5BA;
    --general-font-black: #000;
    --coffe-color: #F0D1A5;
  /* Brand color : #D41443
    Ice cream color: #FFB8CA;
    food color : #C2E297
    General white: #FFF
    adad22 — Today at 4:42 AM    
    adad22 — Today at 6:25 AM
    Adaugativa doar variabilele de care aveti nevoie pentru sectiunea voastra. Asa vom evita conflictele.
    adad22 — Today at 6:46 AM
    --heading-font: 'Titan One', cursive; */
}
  
.contacts-section {
    background: var(--section-background-color);
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
}
  
.menu-section {
    width: 280px;
    height: 412px;
    border-radius: 24px;
    background: var(--section-background-color);
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
    padding: 40px 32px;
}

.vector-icon {
    width: 216px;
    height: 1px;
}

.vector-icon > svg {
    stroke: #E1E1E1;
}
  
.crawler-cafe > svg {
    fill: #212121;
    background: var(--coffe-color);
}

.crawler-cafe {
    width: 80px;
    height: 16px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: var(--general-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
    letter-spacing: 0.48px;
}
  
.city-locations {
    color: var(--general-font-black);
    font-family: var(--general-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
    letter-spacing: 0.48px;
}
  
.details {
    color: var(--general-font-grey);
    font-family: var(--general-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    letter-spacing: 0.48px;
}
  
.weekdays {
    color: var(--general-font-black);
    font-family: var(--general-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
}
  
.work-program {
    color: var(--general-pink);
    font-family: var(--general-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 22.32px */
}
  
.color-fonts {
    display: flex;
    flex-direction: column;
    color: var(--general-font-grey);
    font-family: var(--general-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}