:root {
  --section-background-color: #fff5f6;
  --general-font: 'DM Sans', sans-serif;
  --general-font-grey: #907e82;
  --general-pink: #ffa5ba;
  --general-font-black: #000;
  --coffe-color: #f0d1a5;
  --heading-font: 'Titan One', cursive;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --Ice-cream-color: #ffb8ca;
  --Brand-color: #d41443;
  --general-white: #fff;
  --food-color: #c2e297;
  --heading-font: 'Titan One', cursive;

  /* 
  Adaugativa doar variabilele de care aveti nevoie pentru sectiunea voastra. Asa vom evita conflictele.
   */
}

* {
  box-sizing: 'Border-box';
}

a {
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

.contacts-section {
  background-color: var(--section-background-color);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  background: linear-gradient(to bottom, #fff 20%, #fff5f6 20%);
}

.cards-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-section {
  display: block;
  width: 280px;
  height: 412px;
  padding: 40px 32px;
  margin-bottom: 20px;
  background-color: var(--general-white);
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.menu-section:hover {
  cursor: pointer;
  border-radius: 24px;
  background: var(--section-background-color);
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

hr .sprite-section {
  border: 1px solid #e1e1e1;
  stroke-width: 1px;
  width: 216px;
  height: 0px;
  flex-shrink: 0;
}

.sprite-section {
  margin-top: 24px;
  margin-bottom: 24px;
}

.image-block {
  display: flex;
  width: 80px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
}

.crawler-cafe {
  margin-bottom: 20px;
  background-color: var(--coffe-color);
  text-align: center;
  font-family: var(--general-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 86%;
  letter-spacing: 0.48px;
  line-height: 186%;
  /* 22.32px */
  border-radius: 4px;
  color: #fff;
}

.cafe-icon {
  fill: #fff;
  background: var(--coffe-color);
}

.city-locations {
  margin-bottom: 8px;
  color: var(--general-font-black);
  font-family: var(--general-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  /* 22.32px */
  letter-spacing: 0.48px;
}

.details {
  color: var(--general-font-grey);
  font-family: var(--general-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
  letter-spacing: 0.48px;
  width: 208px;
  height: 36px;
}

.weekdays {
  color: var(--general-font-black);
  font-family: var(--general-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  /* 22.32px */
}

.weekends {
  width: 120.854px;
}

.work-program {
  color: var(--general-pink);
  font-family: var(--general-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  /* 22.32px */
}

.color-fonts {
  display: flex;
  flex-direction: column;
  color: var(--general-font-grey);
  font-family: var(--general-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
}

.color-fonts:hover,
.color-fonts:focus {
  color: var(--Brand-color);
  cursor: pointer;
  transition: var(--transition);
}

.image-block-foodtruck {
  display: flex;
  width: 130px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
}

.crawler-foodtruck {
  margin-bottom: 20px;
  color: #fff;
  background-color: var(--food-color);
  text-align: center;
  font-family: var(--general-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  /* 22.32px */
  letter-spacing: 0.48px;
  border-radius: 4px;
}

.button-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-location {
  width: 161.45px;
  height: 44px;
  cursor: pointer;
  border-radius: 22px;
  background: #d41342;
  color: #fff;
}

.button-location>svg {
  stroke: #fff;
  stroke-width: 2px;
  width: 3.61px;
  height: 8px;
  flex-shrink: 0;
}

.button-franchise {
  width: 161px;
  height: 44px;
  cursor: pointer;
  border-radius: 22px;
  background: #fff;
  color: #d41342;
}

.button-franchise>svg {
  stroke-width: 2px;
  stroke: #d41443;
  width: 3.6px;
  height: 8px;
}

.submit-btn-top {
  background: #d41342;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font: var(--general-font);
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 16px;

  height: 44px;
  flex-shrink: 0;
  padding: 0 max(43px);
}

.submit-btn-top:hover,
.submit-btn-top:focus {
  background: #d41342;
  transform: translateY(-3px);
  transition: var(--transition);
}

.submit-btn {
  background: #fff;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  font: var(--general-font);
  color: var(--Brand-color);
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  flex-shrink: 0;
  height: 44px;
  padding: 0 max(43px);
}

.submit-btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: #d41443;
}

.submit-btn-content-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  color: #fff;
}

.submit-btn:hover,
.submit-btn:focus {
  background: #ecebeb;
  transform: translateY(-3px);
  transition: var(--transition);
}

/* Modal Section */

/* Our Locations Modal */

/* modal-footer
modal-body */

.modal-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 6px;
  padding: 20px;
}

.modal-content-location {
  padding: 15px;
  background-color: var(--section-background-color);
  width: 40%;
  height: 160px;
  position: relative;
  border: 1px solid #F25C66;
  border-radius: 12px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden-franchise {
  visibility: hidden;
}

.close-btn-map,
.close-button {
  position: absolute;
  border-radius: 5px;
  background-color: #000;
  color: #c2e297;
  border: 1px solid #f25c66;
  cursor: pointer;
  outline: none;
  animation: var(--transition);
  /* position: absolute; */
  margin: auto;
}

.close-container {
  z-index: 15;
  width: 35px;
  height: 35px;
  top: 15px;
  right: 15px;
}

.close-btn-map:hover,
.close-btn-map:focus {
  color: var(--general-white);
  background-color: #f25c66;
}

.close-btn-map:hover {
  opacity: 1;
}

.close-btn-map:before,
.close-btn-map:after {
  position: absolute;
  left: 15px;
  top: 2px;
  content: '';
  height: 30px;
  width: 3px;
  background-color: #333;
}

.close-btn-map::before {
  transform: rotate(45deg);
}

.close-btn-map::after {
  transform: rotate(-45deg);
}

.color-map-title {
  color: #FFA5BA;
  font-family: var(--heading-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.40px;
  text-transform: uppercase;
}

.content-section-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Franchise modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #00000033;
}

.modal-content-map {
  padding: 15px;
  background-color: var(--section-background-color);
  width: 40%;
  height: 260px;
  position: relative;
  border: 1px solid #F25C66;
  border-radius: 12px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content:nth-child(1) {
  transform: scale(0.75);
  animation: animate075 2500ms;
  opacity: 1;
}

.modal-content:nth-child(1)::before {
  content: '';
}

.modal-content::before {
  display: inline-block;
}

@keyframes animate075 {
  0% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.modal-content {
  background-color: #fff;
  position: relative;
  width: auto;
  height: auto;
  box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}

.is-hidden-location {
  visibility: hidden;
}

.close-btn {
  position: absolute;
  background-color: #fff;
  border-radius: 22px;
  border: 1px solid #757575;
  color: #212121;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
  right: 8px;
  top: 8px;
  transition: var(--transition);
}

.close-btn>svg {
  fill: #000000;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin: 6px;
}

.close-btn>svg:hover {
  color: #2196f3;
  cursor: pointer;
  transition: var(--transition);
}

.input {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: absolute;
  bottom: 459px;
  right: 457px;
  top: 42px;
  left: 12px;
  fill: #757575;
  transition: var(--transition);
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
}

.form-group .icon-input:focus,
.form-group .input:focus {
  border: 1px solid #2196f3;
  outline: none;
  cursor: pointer;
  color: #2196f3;
  fill: #2196f3;
}

.form:focus-within {
  border-color: #2196f3;
}

.form-group:focus-within {
  color: #2196f3;
}

.container-form {
  width: 100%;
  height: 581px;
  padding: 40px 39px 40px 41px;
}

.container-form>h3 {
  color: #212121;
  text-align: center;
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
}

.label-text {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.12px;
  margin-top: 12px;
  margin-bottom: 4px;
}

.form-acces {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.form-acces>label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.checkbox-size {
  width: 20px;
  height: 20px;
}

.vector-check {
  width: 11px;
  height: 8px;
  fill: #2196f3;
  visibility: hidden;
}

.icon-checkbox {
  position: absolute;
  top: 0px;
  left: 1px;
  transition: var(--transition);
  width: 16px;
  height: 15px;
  fill: #212121;
  visibility: hidden;
}

.checkbox-paragraph a:hover {
  text-decoration: underline;
}

.checkbox-paragraph {
  color: #757575;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 85%;
  height: 24px;
  flex-shrink: 0;
  margin-left: 8px;
  cursor: pointer;
}

.terms-agree {
  color: #2196f3;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  margin-top: 20px;
}

.form-acces .button-blue {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background: #d41443;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  color: #fff;
  transition: var(--transition);
  border: none;
  font: var(--general-font);
  font-weight: 700;
  text-align: center;
  font-size: 16px;
}

.button-blue:hover,
.button-blue:focus {
  cursor: pointer;
}

/* Tablet Section */

@media screen and (min-width: 768px) {
  .contacts-section {
    display: block;
    flex-direction: column;
    height: auto;
    padding: 0px 16px;
    margin: 0;
    font-size: 14px;
    line-height: 183%;
    /* 25.62px */
  }

  .crawler-cafe {
    font-size: 16px;
    line-height: 186%;
    /* 29.76px */
    letter-spacing: 0.64px;
  }

  .crawler-foodtruck {
    font-size: 16px;
    line-height: 186%;
    /* 29.76px */
    letter-spacing: 0.64px;
  }

  .cards-section {
    flex-direction: row;
    gap: 32px;
    width: 100%;
    padding: 0;
    justify-content: center;
  }

  .city-locations {
    font-size: 14px;
    line-height: 186%;
    /* 26.04px */
    letter-spacing: 0.56px;
  }

  .details {
    width: 95%;
    height: 65px;
    color: #907e82;
    font-size: 14px;
    line-height: 166%;
    /* 23.24px */
    letter-spacing: 0.56px;
  }

  hr .sprite-section {
    border: 1px solid #e1e1e1;
    stroke-width: 1px;
    width: 216px;
    height: 0px;
    flex-shrink: 0;
  }

  .weekdays {
    width: 134px;
    height: 30px;
    font-size: 14px;
    line-height: 186%;
    /* 26.04px */
  }

  .weekends {
    width: 139.718px;
  }

  .work-program {
    font-size: 14px;
    line-height: 186%;
    /* 26.04px */
  }

  .color-fonts {
    font-size: 14px;
    line-height: 183%;
    /* 25.62px */
  }

  .sprite-section {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .menu-section {
    display: block;
    width: 90%;
    height: 528px;
  }

  .button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14.5px;
    margin-top: 60px;
    padding-bottom: 121px;
  }
}

/* desktop section */

@media screen and (min-width: 1280px) {
  .color-fonts {
    font-size: 16px;
    line-height: 183%;
    /* 29.28px */
  }

  .menu-section {
    display: block;
    width: 368px;
    height: 538px;
    flex-shrink: 0;
  }

  .image-block {
    width: 73px;
    height: 28px;
    flex-shrink: 0;
  }

  .crawler-cafe {
    font-size: 16px;
    line-height: 186%;
    /* 29.76px */
    letter-spacing: 0.64px;
  }

  .crawler-foodtruck {
    font-size: 16px;
    line-height: 186%;
    /* 29.76px */
    letter-spacing: 0.64px;
  }

  .city-locations {
    width: 74px;
    height: 30px;
    font-size: 16px;
    line-height: 186%;
    /* 29.76px */
    letter-spacing: 0.64px;
  }

  .details {
    width: 276px;
    height: 50px;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 183%;
    /* 29.28px */
    letter-spacing: 0.64px;
  }

  .sprite-section {
    width: 288px;
    height: 0px;
    flex-shrink: 0;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .weekdays {
    font-size: 16px;
    line-height: 186%;
    /* 29.76px */
    letter-spacing: 0.64px;
    width: 156.379px;
  }

  .work-program {
    width: 163px;
    height: 30px;
    font-size: 16px;
    line-height: 186%;
    /* 29.76px */
  }

  .weekends {
    width: 152px;
  }
}