/* .comment-review::before {
  content: '&#x275E';
  display: inline-block;
} */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Mobile section */
@media only screen and (min-width: 100px) {
  /* ramane 100% */

  .slideshow-container {
    width: 100%;
    background-color: white;
    margin-bottom: 80px;
    padding-left: 0;
  }
  .horizontal-line1 {
    display: none;
  }
  .horizontal-line2 {
    display: none;
  }
  .mySlides .fade {
    /* max-width: 480px; */
  }
  .comment {
    width: 280px;
    height: 307px;
    flex-shrink: 0;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: none;
  }
  .comment,
  .name {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: 30px;
    margin: 0 auto;
  }
  .comment-review {
    width: 157px;
    height: 213px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 260%; /* 31.2px */
    letter-spacing: 0.48px;
    display: flex;
    align-items: center;
    background: repeating-linear-gradient(
      #fafafa,
      #fafafa 20px,
      #e1e1e1 20px,
      #e1e1e1 21px
    );
  }

  .three-red-dots {
    position: relative;
    top: 5px;
    left: 0px;
  }
  .name-location {
    width: 172px;
    height: 31px;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    top: 16px;
    position: relative;
  }
  /* .three-dots {
    position: relative;
    top: 40px;
  } */
  .icon-quote {
    position: relative;
    left: -95px;
    top: 5px;
  }
  .img-person {
    width: 85px;
    height: 85px;
    position: relative;
    left: 117.5px;
    top: 20px;
  }
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 20ms ease;
    margin-top: 32px;
  }
  .active {
    background-color: rgba(211, 19, 66, 1);
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .three-dots {
    position: relative;
    top: 36px;
  }
}
/* tablet section */
@media screen and (min-width: 320px) {
  .slideshow-container {
    width: 768px;
    background-color: white;
    margin-bottom: 224px;
    padding-left: 0;
  }
  .img-person {
    height: 85px;
    position: relative;
    left: 454px;
    top: 20px;
  }

  .comment,
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-quote {
    position: relative;
    top: 24px;
    left: -270px;
  }
  .three-red-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    left: 0;
  }
  .comment {
    width: 620px;
    height: 164px;
    flex-shrink: 0;
    background-color: #fafafa;
  }
  .comment-review {
    width: 492px;
    height: 83px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 214%;
    letter-spacing: 0.56px;
    background: repeating-linear-gradient(
      #fafafa,
      #fafafa 20px,
      #e1e1e1 20px,
      #e1e1e1 21px
    );
  }
  .name-location {
    width: 172px;
    height: 38px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    margin-top: 16px;
  }

  .slideshow-container {
    width: 1000px;
    position: relative;
    margin: auto;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 20ms ease;
    margin-top: 32px;
  }
  .name-location {
    width: 172px;
    height: 31px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    margin-top: 24px;
  }
  .active {
    background-color: rgba(211, 19, 66, 1);
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

/* desktop section */
@media screen and (min-width: 1280px) {
  .slideshow-container {
    width: 1280px;
    background-color: white;
    margin-bottom: 224px;
    padding-left: 0;
  }

  .img-person {
    height: 85px;
    position: relative;
    left: 454px;
    top: 20px;
  }

  .comment,
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-quote {
    position: relative;
    top: 10px;
    left: -390px;
  }
  .three-red-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    left: 0;
  }
  .comment {
    width: 968px;
    height: 138px;
    flex-shrink: 0;
    background-color: #fafafa;
  }
  .comment-review {
    width: 750px;
    height: 38px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    background: repeating-linear-gradient(
      #fafafa,
      #fafafa 20px,
      #e1e1e1 20px,
      #e1e1e1 21px
    );
    letter-spacing: 0.64px;
  }
  .name-location {
    width: 172px;
    height: 38px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    margin-top: 16px;
  }

  .slideshow-container {
    width: 1000px;
    position: relative;
    margin: auto;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 20ms ease;
    margin-top: 32px;
  }
  .name-location {
    width: 172px;
    height: 31px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    margin-top: 24px;
  }
  .active {
    background-color: rgba(211, 19, 66, 1);
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
}
