* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  margin-top: 60px;
}
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  position: relative;

  top: -12px;
}
.review-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.colored-background {
  background-color: rgba(250, 250, 250, 1);
  width: 968px;
  height: 138px;
  flex-shrink: 0;
  position: relative;
}
.light-grey-line__one,
.light-grey-line__two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote {
  color: #717171;
  position: relative;
  top: -30px;
  left: 50px;
}
.red-house {
  display: flex;
  justify-content: center;
  align-items: center;
}
.three-red-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 16px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: bold;
  font-weight: 500;
  line-height: 186%; /* 29.76px */
  letter-spacing: 0.64px;
  position: relative;
  top: 45px;
  padding-right: 108px;
  padding-left: 100px;
  color: #000;
}
.customer-reviews__location {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 37.2px */
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #f81212;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  img {
    vertical-align: middle;
    position: relative;

    top: -12px;
  }
}

@media screen and (min-width: 768px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  img {
    vertical-align: middle;
    position: relative;

    top: -12px;
  }
}

@media screen and (min-width: 1600px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
